
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: "Fira Sans", serif;
}
.error{
    color: red;
}

#container{
    display: inline-block;
    padding: 10px;
    background: gray;
    color: white;
}

#container2{
    display: inline-block;
    padding: 10px;
    background: rgb(170, 170, 170);
}

input{
    font-family: "Fira Sans", serif;
}

.formulario{
    display: inline-block;
    padding: 20px;
    background: rgb(197, 197, 197);
    margin-left: 20px;
}
